[submodule "dina-ui"]
path = repos/dina-ui
url = https://github.com/AAFC-BICoE/dina-ui.git

[submodule "objectstore-api"]
path = repos/objectstore-api
url = https://github.com/AAFC-BICoE/object-store-api.git

[submodule "seqdb-api"]
path = repos/seqdb-api
url = https://github.com/AAFC-BICoE/seqdb-api.git

[submodule "agent-api"]
path = repos/agent-api
url = https://github.com/AAFC-BICoE/agent-api.git


[submodule "collection-specs"]
path = repos/collection-specs
url = https://github.com/DINA-Web/collection-specs.git

[submodule "agent-specs"]
path = repos/agent-specs
url = https://github.com/DINA-Web/agent-specs.git

[submodule "dina-dev-doc"]
path = repos/dina-dev-doc
url = https://github.com/xuemeigan/dina-dev-doc.git

[submodule "object-store-specs"]
path = repos/object-store-specs
url = https://github.com/DINA-Web/object-store-specs


